# Byte-compiled / optimized / package files
__pycache__/
*.py[cod]
*.so
*.dll

# Virtual environments
.venv/
venv/
pip-wheel-metadata/

# Testing and coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytype/
.coverage
coverage.xml
htmlcov/

# Logs and crash reports
*.log
crash*.log
nohup.out
*.out

# Environment and configuration files
.env
.envrc
.secrets/
*.secret

# Terraform-related files
.terraform/
*.tfstate*
terraform.tfvars*
override.tf*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
node_modules/
*.bak
*.sw[opn]
*.orig
*.rej
